.blocks {
    display: flex;
}

.delete {
    background-color: red;
    color: white;
    border: none;
    padding: 3px 6px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
}

.accept {
    background-color: blue;
    color: white;
    border: none;
    padding: 3px 6px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
}

.accept:hover {
    background-color: darkblue;
}

.delete:hover {
    background-color: darkred;
}

.fields {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.error {
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
}
