.blocks {
    display: flex;
}

.delete {
    background-color: red;
    color: white;
    border: none;
    padding: 3px 6px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
}

.delete:hover {
    background-color: darkred;
}

.fields {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}